*.a
.DS_Store
*~

# files created on build from XCode
#Acquis/ModelsList
#Acquis/SambaArgs
Acquis/SambaPid
Acquis/TangoArgs
Acquis/executables/AutresVersions/
Acquis/executables/Gasol.app/Contents/Resources/SambaMem
Acquis/executables/Gasol.app/Contents/_CodeSignature/
Acquis/executables/Gigas.app/Contents/_CodeSignature/
#Acquis/models_NEWSG/
Acquis/Top_for_news
Prgm/bin64/rels/
Prgm/binaires/
Acquis/executables/Gasol.app*
Acquis/executables/Gigas.app*
